@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import '../@styling/main.scss';
@import '../@styling/components/picker.scss';
@import '../@styling/components/button.scss';
@import '../@styling/components/input.scss';
@import '../@styling/components/select.scss';


@keyframes AnimateHeader {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-250%);
        display: none;
    }
}

@keyframes AnimateHeaderSize {
    from {
        width: 100%;
    }
    to {
        width: var(--app-menu);
    }
}




body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    #root {
        --app-menu : 200px;
        padding-top: calc(
            50px + map-get($paddings, app-first-padding)
        );
        a {
            text-decoration: none;
            color: map-get($colors, app-primary);
            &:hover {
                color: map-get($colors, app-primary-lighter);
                text-decoration: underline;
            }
        }


        .app {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;

            .app-body {

            }
        }

    
    
        .welcome-screen {
            width: 100%;
        }
        .usage-informations {
            display: flex;
            flex-direction: column;
            gap: map-get($gaps, app-separator-gap);
            min-height: 50%;
            min-height: 100vh;
            padding-top: calc(
               15px
            );
            &.component{
                gap: map-get($gaps, app-third-gap);
            }
            .usage-informations-header {
                .title {
                    font-size: 50px;
                    font-weight: bold;
                }
                .sub-title {
                    font-size: 20px;
                    color: map-get($colors, app-text-color-on-background-lighter);
                }
            }


            .changelogs {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: map-get($gaps, app-separator-gap);
                .changelog {
                    background-color: map-get($colors, app-background-color-darker);
                    padding: map-get($paddings, app-first-padding);
                    display: flex;
                    flex-direction: column;
                    gap: map-get($gaps, app-first-gap);
                    border-radius: map-get($radiuses, app-first-border-radius);
                    .version, .date, .changes, .whats-coming {
                        .sub-title {
                            font-size: 15px;
                            color: map-get($colors, app-text-color-on-background-lighter);
                        }

                    }
                    .version, .date {
                        .value {
                            font-size: 20px;
                            font-weight: bold;
                            color : map-get($colors, app-primary);
                        }
                    }
                }
            }

            .usage-informations-description {
                display: flex;
                flex-direction: column;
                gap: map-get($gaps, app-first-gap);
                .paragraph {
                    display: flex;
                    flex-direction: column;
                    gap: map-get($gaps, app-second-gap);
                    .paragraph-title {
                        font-size: 30px;
                        font-weight: bold;
                    }
                    .paragraph-content {
                        color: map-get($colors, app-text-color-on-background-lighter);
                    }
                }
            }
            .requirements {
                display: flex;
                flex-direction: row;
                gap: map-get($gaps, app-separator-gap);
                height: max-content;
                .requirement {
                    width: calc(
                        100% - map-get($paddings, app-first-padding)*2 
                    );
                    padding: map-get($paddings, app-first-padding);
                    border-radius: map-get($radiuses, app-first-border-radius);
                    background-color: map-get($colors, app-background-color-darker);
                    display: flex;
                    flex-direction: column;
                    gap: map-get($gaps, app-first-gap);
                    .requirement-number {
                        padding: map-get($paddings, app-second-padding);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: map-get($radiuses, app-first-border-radius);
                        background-color: map-get($colors, app-primary);
                        color: map-get($colors, app-text-color-on-primary);
                        width: 30px;
                        width: 30px;
                    }
                    .requirement-header {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        gap: map-get($gaps, app-third-gap);
                        .requirement-name {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .requirement-description {
                            color: map-get($colors, app-text-color-on-background-lighter);
                        }
                    }
                    .latest-version-informations {
                        display: flex;
                        flex-direction: column;
                        gap: map-get($gaps, app-first-gap);
                        .informations {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            gap: map-get($gaps, app-second-gap);
                            .value {
                                font-weight:600;
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    

    }

}


/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: map-get($colors, app-background-color-darker);
    border-radius: map-get($radiuses, app-first-border-radius);
}

::-webkit-scrollbar-thumb {
    background-color: map-get($colors, app-primary);
    border-radius: map-get($radiuses, app-first-border-radius);
    border: 3px solid map-get($colors, app-background-color-darker);
}

::-webkit-scrollbar-thumb:hover {
    background-color: map-get($colors, app-primary-lighter);
}




@media only screen and (max-width: 1024px) {

    .requirements {
        flex-direction: column !important;

    }

    #root {
        padding-top: 0px !important;
    }
    .app {
        padding-top: 0px !important;
    }

    .changelogs {
        flex-direction: column !important;
    }

    .app-header {
        left: 10px;
        right: unset;
        width: var(--app-menu) !important;
        padding: map-get($paddings, app-first-padding) !important;
        flex-direction: column;
        img {
            height: 50px !important;
        }
        height: 100px !important;
    }
    .app-picker {
        top: 150px !important;
        height: calc(
            100vh - 160px - map-get($paddings, app-first-padding)*2
        ) !important;
    }
}