@import '../../@styling/main.scss';


.usage-informations {
    width: fit-content;
    min-height: 100vh;
    padding-bottom: 50vh;
    .examples {
        display: flex;
        flex-direction: column;
        gap: map-get($gaps, app-first-gap);
        .title {
            font-size: 25px;
            font-weight: bold;
        }
        .example {
            font-size: 20px;
        }
    }
}